* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1439px;
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 600px;
    padding: 0 16px;
  }
}

body {
  background-color: rgb(225, 212, 201);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}
@media (max-width: 1439px) {
  header {
    padding: 18px 0;
  }
}

.header_active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 18px 40px;
}

@media (max-width: 768px) {
  .menu_logo {
    position: relative;
    z-index: 4;
  }
}

.menu_link_humburger {
  display: none;
}
@media (max-width: 768px) {
  .menu_link_humburger {
    display: block;
    color: rgb(64, 63, 61);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    text-decoration: none;
    margin-top: 100px;
  }
  .menu_link_humburger .menu_cup_humburger {
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .block_menu {
    padding-top: 140px;
    position: fixed;
    background: rgb(225, 212, 201);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
  .block_menu_active {
    right: 0;
  }
}

.menu {
  margin-top: -2px;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }
}

.menu_item {
  list-style-type: none;
}

.menu_img {
  width: 100px;
  height: 60px;
}

.humburger {
  display: none;
}
@media (max-width: 768px) {
  .humburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgb(102, 95, 85);
    width: 44px;
    height: 44px;
    z-index: 3;
  }
  .humburger span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 2px;
    background-color: rgb(64, 63, 61);
  }
}

@media (max-width: 768px) {
  .humburger_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid rgb(102, 95, 85);
    width: 44px;
    height: 44px;
  }
  .humburger_active span {
    margin-bottom: 2px;
    display: block;
    width: 16px;
    height: 1.5px;
    background-color: rgb(64, 63, 61);
  }
  .humburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .humburger_active span:nth-child(2) {
    margin-top: -2px;
    transform: translateY(2px) rotate(45deg);
  }
}

@media (max-width: 768px) {
  .menu_link_desk {
    display: none;
  }
}

.menu_link {
  color: rgb(64, 63, 61);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.menu_link::after {
  content: "";
  position: absolute;
  background: rgb(64, 63, 61);
  left: 50%;
  bottom: -5px;
  width: 10%;
  height: 2px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.7s ease-in-out, width 500ms linear;
}
@media (hover: hover) {
  .menu_link:hover::after {
    opacity: 1;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .menu_link {
    color: rgb(64, 63, 61);
    text-align: center;
    font-size: 32px;
    line-height: 125%;
    margin-top: 60px;
  }
}

footer {
  margin: 100px 0 40px 0;
  padding: 100px;
  border-radius: 40px;
  background: rgb(102, 95, 85);
  display: flex;
  max-width: 1439px;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1439px) {
  footer {
    gap: 50px;
    flex-wrap: wrap;
    padding: 100px 60px;
  }
}
@media (max-width: 768px) {
  footer {
    margin: 100px 0 40px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  footer {
    margin: 100px 0 40px 0;
    padding: 60px 16px;
    gap: 0;
  }
}

.footer_first {
  max-width: 530px;
}
@media (max-width: 1439px) {
  .footer_first {
    max-width: 50%;
  }
}
@media (max-width: 900px) {
  .footer_first {
    max-width: 100%;
  }
}

.footer_first .coffee_title {
  color: rgb(225, 212, 201);
}

.footer_social_wrapper {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}
@media (max-width: 768px) {
  .footer_social_wrapper {
    margin-top: 37px;
  }
}

.footer_social {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgb(193, 182, 173);
  transition: all 1.7s ease;
}

@media (hover: hover) {
  .footer_social:hover {
    border: 1px solid rgb(225, 212, 201);
    background: rgb(225, 212, 201);
  }
}

@media (hover: hover) {
  .footer_social:hover path {
    stroke: rgb(64, 63, 61);
  }
}

@media (max-width: 768px) {
  .footer_second {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .footer_second {
    margin-top: 41px;
  }
}

.footer_second_title {
  color: rgb(225, 212, 201);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

.footer_second_adress {
  max-width: max-content;
  margin-top: 40px;
  position: relative;
}
@media (max-width: 600px) {
  .footer_second_adress {
    margin-top: 38px;
  }
}

.wrapper_phone {
  position: relative;
  display: inline-block;
}

.footer_second_adress a,
.footer_second_phone a,
.footer_second_time p {
  display: inline;
  margin-left: 4px;
  color: rgb(225, 212, 201);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 174%; /* 24px */
  text-decoration: none;
}

.footer_second_adress::after,
.wrapper_phone::after {
  content: "";
  position: absolute;
  background: #e1d4c9;
  left: 50%;
  bottom: -5px;
  width: 10%;
  height: 2px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.7s ease-in-out, width 500ms linear;
}

@media (hover: hover) {
  .footer_second_adress:hover::after,
  .wrapper_phone:hover::after {
    opacity: 1;
    width: 100%;
  }
}

.footer_second_phone,
.footer_second_time {
  margin-top: 16px;
}

.coffee_title {
  text-align: left;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: rgb(64, 63, 61);
}

@media (max-width: 600px) {
  .coffee_title {
    font-size: 32px;
  }
}
.coffee_title span {
  color: rgb(176, 144, 122);
  font-style: italic;
}

.menu_menu_btn {
  background-color: rgb(225, 212, 201);
  border: none;
  border-bottom: 2px solid #403f3d;
  color: rgb(64, 63, 61);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
@media (max-width: 768px) {
  .menu_menu_btn {
    display: none;
  }
}

.menu_as_wrapper_tea,
.menu_as_wrapper_dessert {
  display: none;
}

.menu_as_wrapper_coffe {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu_as_assortiment {
  display: flex;
  flex-direction: column;
}

.menu_as_assortiment .coffee_title {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 900px) {
  .menu_as_assortiment .coffee_title {
    width: 100%;
  }
}

.menu_as_btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.menu_as_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 100px;
  border: 1px solid rgb(193, 182, 173);
  background-color: rgb(225, 212, 201);
  height: 46px;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.menu_as_btn_coffe {
  color: rgb(225, 212, 201);
  width: 115px;
  background: rgb(102, 95, 85);
}

.menu_as_btn_tea {
  width: 90px;
  transition: all ease-in-out 0.3s;
}

.menu_as_btn_dessert {
  width: 124px;
  transition: all ease-in-out 0.3s;
}

@media (hover: hover) {
  .menu_as_btn_tea:hover,
  .menu_as_btn_dessert:hover {
    color: rgb(225, 212, 201);
    background: rgb(102, 95, 85);
    cursor: pointer;
  }
}

.menu_as_btn_wrap_img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: rgb(193, 182, 173);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
}

.menu_as_btn_wrap_img_coffe {
  background: rgb(225, 212, 201);
}

.menu_as_wrapper_assortiment {
  margin-top: 40px;
}

.menu_as_card {
  display: flex;
  height: 506px;
  width: 310px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  border: 1px solid rgb(193, 182, 173);
}
.menu_as_card_refresh {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 212, 201);
  border-radius: 100px;
  border: 1px solid rgb(102, 95, 85);
}
@media (max-width: 1439px) {
  .menu_as_card_refresh {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu_as_card_refresh {
    display: block;
    margin: 40px auto 0;
  }
}
@media (max-width: 768px) and (hover: hover) {
  .menu_as_card_refresh:hover {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .menu_as_card.card_over {
    display: none;
  }
}

.menu_as_card_wrapper_img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_as_card_img {
  transition: linear 0.3s;
}

@media (hover: hover) {
  .menu_as_card:hover {
    cursor: pointer;
  }
}

@media (hover: hover) {
  .menu_as_card:hover .menu_as_card_img {
    transform: scale(0.95);
  }
}

.menu_as_card_wrapper_text {
  /* margin: 0 auto; */
  padding: 20px;
}

.menu_as_card_title {
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%; /* 30px */
}

.menu_as_card_subtitle {
  height: 72px;
  margin-top: 12px;
  color: rgb(64, 63, 61);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.menu_as_card_price {
  margin-top: 12px;
  color: rgb(64, 63, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

/* modals */
.modals {
  display: none;
  background-color: #403f3d;
  padding: 20px;
}

.modal_cofee,
.modal_tea,
.modal_dessert {
  margin-top: 10px;
  display: flex;
  width: 800px;
  height: 504px;
  padding: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  background: rgb(225, 212, 201);
  gap: 20px;
}

.modal_img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.modal_text {
  display: flex;
  flex-direction: column;
  width: 458px;
}

.modal_title {
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal_subtitle {
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal_size,
.modal_additives {
  margin-top: 20px;
}

.modal_subtitle {
  margin-top: 12px;
}

.modal_btns {
  margin-top: 8px;
}

.modal_btns {
  display: flex;
  gap: 8px;
}

.modal_btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: rgb(64, 63, 61);
  background-color: rgb(225, 212, 201);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid rgb(193, 182, 173);
}

.modal_s,
.modal_m,
.modal_l {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: rgb(193, 182, 173);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.modal_total {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal_line {
  width: 438px;
  height: 1px;
  background-color: rgb(193, 182, 173);
}

.modal_note {
  padding: 12px 8px;
  color: rgb(64, 63, 61);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.modal_close {
  margin-top: 20px;
  width: 438px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid rgb(102, 95, 85);
  color: rgb(64, 63, 61);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  background-color: rgb(225, 212, 201);
}

/*# sourceMappingURL=style_main_menu.css.map */
