:root {
  --text-dark: rgba(64, 63, 61, 1);
  --text-light: rgba(225, 212, 201, 1);
  --text-accent: rgba(176, 144, 122, 1);
  --background-body: rgba(225, 212, 201, 1);
  --background-container: rgba(102, 95, 85, 1);
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: rgba(193, 182, 173, 1);
  --border-dark: rgba(102, 95, 85, 1);
}
/* @font-face {
  font-family: "Shototam";
  src: url(/yoursite/fonts/st-Regular.ttf) format("ttf"),
    url(/yoursite/fonts/st-Regular.woff) format("woff");
  font-weight: 400;
} */
/* font-family: 'Inter', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  background-color: var(--background-body);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.menu {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
}
.menu_item {
  list-style-type: none;
}
.menu_img {
  width: 100px;
  height: 60px;
}
.menu_link {
  color: var(--text-dark);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.Enjoy {
  margin: 0 40px;
  min-height: 644px;
  /* display: flex; */
  max-width: 1360px;
  padding: 100px;
  /* flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch; */
  border-radius: 40px;
  background: url(../img/large/img-hero.jpg), center center/cover;
}
.enjoy_title {
  color: var(--text-light, #e1d4c9);
  font-family: Inter;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
  width: 530px;
  align-self: stretch;
}
.enjoy_title span {
  color: var(--text-accent, #b0907a);
  font-style: italic;
}
.enjoy_subtitle {
  align-self: stretch;
  color: var(--text-light, #e1d4c9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 530px;
  margin: 40px 0;
}
.enjoy_btn {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--background-body, #e1d4c9);
  border: none;
}
.Favourites_coffee {
  padding: 100px 40px;
}
.coffee_title {
  color: var(--text-dark, #403f3d);
  text-align: center;

  font-size: 59px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.coffee_title span {
  color: var(--text-accent, #b0907a);
  font-style: italic;
}
.coffee_slider_section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
}
.slides_title {
  margin-top: 20px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.slides_subtitle {
  margin-top: 16px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.slides_price {
  margin-top: 16px;
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slades2,
.slades3 {
  display: none;
}
.coffee_slider_arrow_prev,
.coffee_slider_arrow_next {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-body);
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
}
.coffee_block_lines {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.coffee_line {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-dark, #665f55);
  /* background: var(--border-light, #C1B6AD); */
}
.about {
  min-height: 1325px;
  padding: 0 40px;
}
.about_wrapper_gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 660px 660px;
  grid-template-rows: 430px 160px 430px;

  gap: 40px;
}
.foto {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center;
}
.foto1 {
  grid-row: 1 / 3;
  grid-column: 1 / 1;
}
.foto2 {
  grid-row: 3 / 4;
  grid-column: 1 / 1;
}
.foto3 {
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}
.foto4 {
  grid-row: 2 / 4;
  grid-column: 2 / 2;
}
.foto_img {
  transition: linear 0.5s;
}
.foto_img:hover {
  transform: scale(0.9);
}
.mobile_App {
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.mobile_text {
  max-width: 630px;
  text-align: left;
}
.mobile_text .coffee_title {
  text-align: left;
  font-size: 60px;
  margin-top: 144px;
}
.mobile_subtitle {
  margin-top: 40px;
  color: var(--text-dark, #403f3d);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.mobile-screens {
  width: 630px;
  height: 630px;
}
.mobile_btns {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.mobile_btn {
  background-color: var(--background-body);
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665f55);
  color: var(--text-dark, #403f3d);
  font-style: normal;
  font-weight: 600;
}
.mobile_btn .mobile_btn_title {
  text-align: center;
  font-size: 10px;
  line-height: 140%; /* 14px */
}
.mobile_btn_subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 150%; /* 24px */
}
footer {
  margin: 100px 40px 40px 40px;
  padding: 100px;
  border-radius: 40px;
  background: var(--background-container, #665f55);
  display: flex;
  max-width: 1360px;
  align-items: center;
  gap: 100px;
}
.footer_first {
  max-width: 530px;
}
.footer_first .coffee_title {
  color: var(--text-light, #e1d4c9);
}
.footer_social_wrapper {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}
.footer_social {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);
}
.footer_second_title {
  color: var(--text-light, #e1d4c9);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.footer_second_adress {
  margin-top: 40px;
}
.footer_second_adress a,
.footer_second_phone a,
.footer_second_time p {
  display: inline;
  margin-left: 8px;
  color: var(--text-light, #e1d4c9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  text-decoration: none;
}
.footer_second_phone,
.footer_second_time {
  margin-top: 16px;
}
