$text-dark: rgba(64, 63, 61, 1);
$text-light: rgba(225, 212, 201, 1);
$text-accent: rgba(176, 144, 122, 1);
$background-body: rgba(225, 212, 201, 1);
$background-container: rgba(102, 95, 85, 1);
$background-backdrop: rgba(64, 63, 61, 0.8);
$border-light: rgba(193, 182, 173, 1);
$border-dark: rgba(102, 95, 85, 1);
$tablet: 768px;
$mobile: 380px;
