@import "./variables";
@import "./common.scss";
@import "./headerFooter.scss";

.Enjoy {
  margin: 0 40px;
  min-height: 644px;
  max-width: 1360px;
  padding: 100px;
  border-radius: 40px;
  background: url(../img/large/img-hero.jpg) center center/cover;
  position: relative;

  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    z-index: 0;
  }
  @media (max-width: $screen) {
    margin: 0;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
    padding: 100px 60px;
  }
  @media (max-width: $mobile) {
    padding: 60px 16px;
    min-height: auto;
  }
}
.enjoy_title {
  color: $text-light;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
  max-width: 530px;
  align-self: stretch;
  position: relative;

  @media (max-width: $mobile) {
    font-size: 42px;
    line-height: 115%;
    width: 100%;
  }
}
.enjoy_title span {
  color: $text-accent;
  font-style: italic;
}
.enjoy_subtitle {
  align-self: stretch;
  color: $text-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 530px;
  margin: 40px 0;
  position: relative;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
.enjoy_btn {
  color: $text-dark;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: $background-body;
  border: none;
  position: relative;
  @media (max-width: $mobile) {
    margin-top: 40px;
  }
}
.enjoy_menu_link {
  color: $text-dark;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin-right: 0px;
  transition: margin-right 300ms linear;
  @media (max-width: $tablet) {
    margin-right: 25px;
    z-index: 1;
  }
}
.enjoy_btn:hover .enjoy_menu_link {
  @media (hover: hover) {
    margin-right: 25px;
  }
}
.enjoy_btn::after {
  margin-top: 5px;
  content: url(../img/logo/coffee-cup.svg);
  opacity: 0;
  position: absolute;
  right: 31%;
  transition: opacity 0.6s ease-in-out;
  @media (max-width: $tablet) {
    opacity: 1;
  }
}
.enjoy_btn:hover.enjoy_btn::after {
  @media (hover: hover) {
    opacity: 1;
  }
}
.Favourites_coffee {
  padding: 100px 43px;
  @media (max-width: $screen) {
    padding: 100px 0;
  }
}
.coffee_title {
  text-align: left;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $text-dark;
  @media (max-width: $mobile) {
    font-size: 32px;
  }
}
.Favourites_coffee .coffee_title {
  text-align: center;
}
.coffee_title span {
  color: $text-accent;
  font-style: italic;
}
.coffee_slider_section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coffe_gallery_wrapper {
  width: 480px;
  overflow: hidden;
}
.coffe_gallery {
  display: flex;
  width: 9999px;
  transition: margin-left 250ms;
  margin: 0;
  padding: 0;
  @media (max-width: $mobile) {
    width: 100%;
  }
}
.slades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  @media (max-width: $mobile) {
    width: 100%;
  }
}
.slides_title {
  margin-top: 20px;
  color: $text-dark;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.slides_subtitle {
  margin-top: 16px;
  color: $text-dark;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.slides_price {
  margin-top: 16px;
  color: $text-dark;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.coffee_slider_arrow_prev,
.coffee_slider_arrow_next {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: $background-body;
  border-radius: 100px;
  border: 1px solid $border-dark;
  transition: all 1.7s ease;
  cursor: pointer;
  @media (max-width: $screen-small) {
    flex: none;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}
.coffee_slider_arrow_prev:hover,
.coffee_slider_arrow_next:hover {
  @media (hover: hover) {
    background: $background-container;
  }
}
.coffee_slider_arrow_prev:hover path,
.coffee_slider_arrow_next:hover path {
  @media (hover: hover) {
    stroke: rgba(225, 212, 201, 1);
  }
}
.coffee_block_lines {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.coffee_line {
  margin-top: 40px;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  border: none;
  background: $border-light;
  position: relative;
  overflow: hidden;
}
.coffe_progress {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  bottom: 0;
}
.coffe_progress_active {
  background: $border-dark;
}
.about {
  min-height: 1325px;
  padding: 0 40px;
  @media (max-width: $screen) {
    padding: 0;
  }
}
.about_wrapper_gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 660px 660px;
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
  @media (max-width: $screen) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 430px 120px 430px;
  }
  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 590px 590px;
    justify-content: center;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 348px;
  }
}
.foto {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto1 {
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  @media (max-width: $tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
}
.foto2 {
  grid-row: 3 / 4;
  grid-column: 1 / 1;
  @media (max-width: $tablet) {
    display: none;
  }
}
.foto3 {
  grid-row: 1 / 2;
  grid-column: 2 / 2;
  @media (max-width: $tablet) {
    display: none;
  }
}
.foto4 {
  grid-row: 2 / 4;
  grid-column: 2 / 2;
  @media (max-width: $tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
  }
}
.foto_img {
  transition: linear 0.5s;
  @media (max-width: $screen-small) {
    margin-left: -3rem;
  }
  @media (max-width: $tablet) {
    margin-left: 0;
  }
}
.foto_img:hover {
  @media (hover: hover) {
    transform: scale(0.9);
  }
  @media (hover: hover) and (max-width: $tablet) {
    transform: scale(0.95);
  }
}
.mobile_App {
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $screen) {
    padding: 0;
  }
  @media (max-width: $screen-small) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $mobile) {
    display: block;
  }
}
.mobile_text {
  max-width: 630px;
  text-align: left;
  @media (max-width: $screen) {
    max-width: 50%;
  }
  @media (max-width: $screen-small) {
    max-width: 80%;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
  }
}
.mobile_text .coffee_title {
  text-align: left;
  font-size: 60px;
  margin-top: 144px;
  @media (max-width: $screen-small) {
    margin-top: 0;
  }
  @media (max-width: $mobile) {
    font-size: 32px;
  }
}
.mobile_subtitle {
  margin-top: 40px;
  color: $text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.mobile_screens {
  width: 630px;
  height: 630px;
  @media (max-width: $screen) {
    margin-top: 50px;
    width: 50%;
    height: auto;
  }
  @media (max-width: $screen-small) {
    margin-top: 80px;
    width: 630px;
    height: 630px;
  }
  @media (max-width: $tablet) {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  @media (max-width: $mobile) {
    margin-top: 40px;
  }
}
.mobile_btns {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}
.mobile_btn {
  background-color: $background-body;
  display: flex;
  width: 200px;
  padding: 13px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid $border-dark;
  color: $text-dark;
  font-style: normal;
  font-weight: 600;
}
.mobile_btn:hover {
  @media (hover: hover) {
    color: $text-light;
    background: $background-container;
    transition: 1.4s ease;
  }
}
/* .mobile_btn path {
  transition: 1s ease;
} */
.mobile_btn:hover path {
  @media (hover: hover) {
    fill: $text-light;
  }
}
.mobile_btn .mobile_btn_title {
  display: block;
  text-align: left;
  font-size: 10px;
  line-height: 140%; /* 14px */
}
.mobile_btn_subtitle {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 150%; /* 24px */
}
