:root {
  --color-field: #c7c9c6;
  --letter-color: rgb(253, 254, 220);
  --stroke-color: #9fa194;
  --fill-qub: #cccccc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.game-part {
  background-color: var(--color-field);
}
canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--stroke-color);
}
.container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
}
